**Exploratory Data Analysis**

- Load in your csv.gz's of results for each year extracted.
    - Concatenate the data into 1 dataframe for the remainder of the analysis.
- Once you have your data from the API, they would like you to perform some light EDA to show:
    - How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
        - Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.
    - How many movies are there in each of the certification categories (G/PG/PG-13/R)?
    - What is the average revenue per certification category?
    - What is the average budget per certification category?


**Deliverables**

After you have joined the tmdb results into 1 dataframe in the EDA Notebook,

- Save a final merged .csv.gz of all of the tmdb api data
- The file name should be "tmdb_results_combined.csv.gz"
- Make sure this is pushed to your github repository along with all of your code
    - One code file for API calls
    - One code file for EDA
- Submit the link

In [1]:
import pandas as pd
import numpy as np
import json


# Import year 2000 dataset
year2000 = r"C:\Users\admin\Documents\GitHub\IMDB-Movies-Analysis\Data\final_tmdb_data_2000.csv.gz"


year2000 = pd.read_csv(year2000, sep="\t", low_memory= False)

In [2]:
# Import year 2001 dataset
year2001 = r"C:\Users\admin\Documents\GitHub\IMDB-Movies-Analysis\Data\final_tmdb_data_2001.csv.gz"


year2001 = pd.read_csv(year2001, sep="\t", low_memory= False)

year2001.head()

   imdb_id
0        0

In [3]:
# Combine years 
df = pd.concat([year2000, year2001])

df.head()

   imdb_id
0        0
0        0